@mixin header() {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

@mixin logo() {
  width: 60px;
  height: 60px;
}

@mixin hamburger() {
  font-size: 2rem;
  cursor: pointer;
}

@mixin aside-nav() {
  width: 250px;
  height: 100vh;
}

:host {
  ::ng-deep {
    .mat-drawer-inner-container {
      display: flex;
      flex-direction: column;
    }

    .mat-mdc-list-item-unscoped-content {
      display: flex;
      align-items: center;
    }

    .mat-sidenav {
      height: 100vh;
      width: 100vw;
    }
  }

  .aside-nav {
    @include aside-nav();

    &__container {
      @include aside-nav();

      &__header {
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 1.5rem 1rem;
        border-bottom: 1px solid #ddd;
        text-align: center;

        &__logo {
          @include logo();
        }

        &__title {
          font-size: 1.5rem;
          font-weight: bold;
          margin: 0;
        }
      }

      &__menu--mobile {
        margin-top: 70px;
      }

      &__menu,
      &__menu--mobile {
        flex: 1;
        overflow-y: auto;
        padding: 0;

        &__item {
          cursor: pointer;
          transition: background-color 0.2s;
          border-radius: 4px;
          display: flex;
          align-items: center;
          gap: 15px;
          padding: 10px;

          &:hover {
            background-color: rgba(0, 0, 0, 0.05);
          }

          &__icon {
            margin-right: 1rem;
          }

          &__label {
            font-size: 1rem;
            font-weight: 500;
          }

          &__active {
            background-color: rgba(0, 0, 0, 0.1);
            font-weight: bold;
          }
        }
      }

      &__footer {
        border-top: 1px solid #ddd;
        padding: 10px 10px 10px 50px;
        &--mobile {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px;
          border-top: 1px solid #ddd;
          margin-top: auto;
        }
      }

      &__mobile {
        &__header {
          @include header();

          &__logo {
            @include logo();
          }

          &__hamburger {
            @include hamburger();
          }
        }

        &__close {
          position: absolute;
          right: 15px;
          top: 30px;
          color: white;
        }
      }
    }
  }

  @media (max-width: 900px) {
    .aside-nav {
      width: 100vw;

      &__container {
        width: 100vw;
      }
    }

    .mat-drawer-content {
      width: 100vw;
    }

    .mat-sidenav {
      z-index: 9;
    }
  }
}
