@use "./aside-nav.component.scss" as aside;

.dashboard {
  display: flex;
  height: 100vh;

  &__mobile {
    display: flex;
    flex-direction: column;
  }

  &__mobile-header {
    @include aside.header();

    &__logo {
      @include aside.logo();
    }

    &__hamburger {
      @include aside.hamburger();
    }
  }

  &__content {
    flex: 1;
    padding: 16px;
    overflow: auto;
    margin-top: 70px;
  }
}
